<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @venue.status %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @venue.url %>
</p>

<p>
  <strong>Short address:</strong>
  <%= @venue.short_address %>
</p>

<p>
  <strong>Fbid:</strong>
  <%= @venue.fbid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @venue.lat %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @venue.checked %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @venue.lng %>
</p>

<p>
  <strong>Original ID:</strong>
  <%= @venue.original_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
